{
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "preprocess": false
      }
    ]
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    "@babel/preset-stage-0",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}